html {
  font-size: 62.5%;
}

html,
body {
  /* height: 100%; */
}

body {
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-offwhite);

  /* overflow: hidden; */
}

:root {
  /* https://www.color-hex.com/color/a6dd8e */
  --clr-primary: #a6dd8e;
  --clr-primary-dark: #749a63;
  --clr-primary-light: #c5e9b5;
  --clr-analog1: #8edd9e;
  --clr-triad1: #8ea6dd;
  --clr-triad2: #dd8ea6;
  --clr-offwhite: #f6fbf3;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:focus,
button:active {
  cursor: pointer;
  border: none;
  outline:0;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

ul li {
  margin-left: 2rem;
  list-style: none;
}

/* utility classes */
.p-1{
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

/* main content area */

.back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr-offwhite);
  background: var(--clr-primary);
  border-radius: 50%;
  transform: rotate(-90deg);
}

.panel-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-wrapper:nth-of-type(odd){
  background: linear-gradient(to bottom right, var(--clr-offwhite), var(--clr-triad1));
}

.panel-wrapper:nth-of-type(even){
  background: linear-gradient(to bottom right, var(--clr-offwhite), var(--clr-triad2));
}

.panel {
  height: 80%;
  flex-basis: 80%;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;

  border-radius: 5rem;
  background: linear-gradient(to bottom right, var(--clr-primary),  var(--clr-analog1));
}

.panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;

  color: var(--clr-primary-dark);
  text-shadow: -.1rem .1rem rgba(0, 0, 0, .5);
}

.panel-display {
  width: 90%;
  margin: 0 auto;
  visibility: hidden;
}

.display-wrapper {
  height: 100%;
  border-radius: 2rem;
  background: var(--clr-offwhite);
}

.panel-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel-buttons button,
.panel-buttons a {
  height: 60%;
  flex-basis: 40%;
  font-size: 2rem;
  border-radius: 2rem;
  color: var(--clr-offwhite);
}

.panel-buttons button:hover,
.panel-buttons a:hover {
  line-height: 2rem;
}

.panel-wrapper:nth-of-type(odd) .panel-buttons button,
.panel-wrapper:nth-of-type(odd) .panel-buttons a {
  background: var(--clr-triad1);
}

.panel-wrapper:nth-of-type(odd) button:hover,
.panel-wrapper:nth-of-type(odd) a:hover {
  border: inset .2rem var(--clr-triad1);
  color: var(--clr-triad1);
  background: transparent;
}

.panel-wrapper:nth-of-type(even) .panel-buttons button,
.panel-wrapper:nth-of-type(even) .panel-buttons a {
  background: var(--clr-triad2);
}

.panel-wrapper:nth-of-type(even) button:hover,
.panel-wrapper:nth-of-type(even) a:hover {
  border: inset .2rem var(--clr-triad2);
  color: var(--clr-triad2);
  background: transparent;
}

/* panel 2 */

#panel-2 .display-wrapper {
  display: flex;
  flex-direction: row;
}

#panel-2 .display-wrapper > div {
  display: flex;
  flex-direction: column;
  flex: 1
}

#panel-2 .display-wrapper > div h3,
#panel-2 .display-wrapper > div div {
  padding: 0 10%;
  flex: 1;
  text-align: center;
}

#panel-2 .display-wrapper > div div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}

#panel-2 .display-wrapper > div div * {
  display: block;
  height: 25%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

#panel-2 .display-wrapper > div div button {
  background: var(--clr-triad1);
}

#panel-2 .display-wrapper > div div button:hover {
  border: none;
  color: inherit;
  opacity: .8;
}

#panel-2 .display-wrapper #word-list {
  height: 48vh;
  flex: 1;
  border: inset .2rem var(--clr-primary-dark);

  white-space: pre;
  overflow: auto;
}

/* panel 3 */

.tell-me-display {
  border: 2px solid black;
}