html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-offwhite);

  overflow: hidden;
}

:root {
  /* https://www.color-hex.com/color/a6dd8e */
  --clr-primary: #a6dd8e;
  --clr-primary-dark: #749a63;
  --clr-primary-light: #c5e9b5;
  --clr-analog1: #8edd9e;
  --clr-triad1: #8ea6dd;
  --clr-triad2: #dd8ea6;
  --clr-offwhite: #f6fbf3;

}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
button:focus,
button:active {
  cursor: pointer;
  border: none;
  outline:0;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

ul li {
  margin-left: 2rem;
  list-style: none;
}

/* utility classes */
.p-1{
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.show {
  -webkit-animation: flipInY 1000ms forwards;
          animation: flipInY 1000ms forwards;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}


/* main content area */

.back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr-offwhite);
  background: var(--clr-primary);
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.panel-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-wrapper:nth-of-type(odd){
  background: -webkit-gradient(linear, left top, right bottom, from(var(--clr-offwhite)), to(var(--clr-triad1)));
  background: -webkit-linear-gradient(top left, var(--clr-offwhite), var(--clr-triad1));
  background: -o-linear-gradient(top left, var(--clr-offwhite), var(--clr-triad1));
  background: linear-gradient(to bottom right, var(--clr-offwhite), var(--clr-triad1));
}

.panel-wrapper:nth-of-type(even){
  background: -webkit-gradient(linear, left top, right bottom, from(var(--clr-offwhite)), to(var(--clr-triad2)));
  background: -webkit-linear-gradient(top left, var(--clr-offwhite), var(--clr-triad2));
  background: -o-linear-gradient(top left, var(--clr-offwhite), var(--clr-triad2));
  background: linear-gradient(to bottom right, var(--clr-offwhite), var(--clr-triad2));
}

.panel {
  height: 80%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;

  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--clr-primary)),  to(var(--clr-analog1)));
  background: -webkit-linear-gradient(top left, var(--clr-primary),  var(--clr-analog1));
  background: -o-linear-gradient(top left, var(--clr-primary),  var(--clr-analog1));
  background: linear-gradient(to bottom right, var(--clr-primary),  var(--clr-analog1));
}

.panel-header {
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5rem;

  color: var(--clr-primary-dark);
  text-shadow: -.1rem .1rem rgba(0, 0, 0, .5);
}

.panel-display {
  width: 90%;
  margin: 0 auto;
  opacity: 0;
}

.display-wrapper {
  height: 100%;
  border-radius: 2rem;
  background: var(--clr-offwhite);
}

.panel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-buttons button,
.panel-buttons a {
  height: 60%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 2rem;
  border-radius: 2rem;
  color: var(--clr-offwhite);
}

.panel-buttons button:hover,
.panel-buttons a:hover {
  line-height: 2rem;
}

.panel-wrapper:nth-of-type(odd) .panel-buttons button,
.panel-wrapper:nth-of-type(odd) .panel-buttons a {
  background: var(--clr-triad1);
}

.panel-wrapper:nth-of-type(odd) button:hover,
.panel-wrapper:nth-of-type(odd) a:hover {
  border: inset .2rem var(--clr-triad1);
  color: var(--clr-triad1);
  background: transparent;
}

.panel-wrapper:nth-of-type(even) .panel-buttons button,
.panel-wrapper:nth-of-type(even) .panel-buttons a {
  background: var(--clr-triad2);
}

.panel-wrapper:nth-of-type(even) button:hover,
.panel-wrapper:nth-of-type(even) a:hover {
  border: inset .2rem var(--clr-triad2);
  color: var(--clr-triad2);
  background: transparent;
}

/* panel 2 */

#panel-2 .display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#panel-2 .display-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1
}

#panel-2 .display-wrapper > div h3,
#panel-2 .display-wrapper > div div {
  padding: 0 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#panel-2 .display-wrapper > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#panel-2 .display-wrapper > div div * {
  display: block;
  height: 25%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

#panel-2 .display-wrapper > div div button {
  background: var(--clr-triad1);
}

#panel-2 .display-wrapper > div div button:hover {
  border: none;
  color: inherit;
  opacity: .8;
}

#panel-2 .display-wrapper #word-list {
  height: 48vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: inset .2rem var(--clr-primary-dark);

  white-space: pre;
  overflow: auto;
}

/* panel 3 */

#panel-3 .display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guess-panel-main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.guess-panel-main-text * {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.tell-me-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* panel 4 */

#panel-4 .display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}

#panel-4 .display-wrapper *:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#palindrome-list {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  overflow: hidden;
}

/* panel 5 */

#panel-5 .letterpress-link {
  display: inline;
  text-decoration: underline;
  -webkit-text-decoration-color:  var(--clr-primary-dark);
          text-decoration-color:  var(--clr-primary-dark);
}

#panel-5 .letterpress-link:hover {
  border: none;
}